<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <style>
        body{
            background: orange;
        }
    </style>
</head>

<body>
    <div id="app">
        <v-app id="inspire">
            <v-card class="mx-auto" max-width="400">
                <v-img class="white--text align-end" height="500px"
                    src="https://cdn.vuetifyjs.com/images/cards/docks.jpg">
                    <v-card-title>Top 10 Australian beaches</v-card-title>
                </v-img>
                <v-card-subtitle class="pb-0">
                    number 10
                </v-card-subtitle>
                <v-card-text class="text--primary">
                    <div>Whitehaven Beach</div>
                    <div>Whitsunday Island, Whitsunday Islands</div>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="orange" text>
                        <a href="https://www.youtube.com/" target="_blank">
                            Share
                        </a>
                    </v-btn>
                    <v-btn color="orange" text>
                        Explore
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-app>
    </div>

    <!-- sadsa
    <div id="opp">
        <v-app id="inspire">
            <v-card max-width="400" class=" ">
                <v-system-bar color="pink darken-2" dark>
                    <v-spacer></v-spacer>

                    <v-icon>mdi-window-minimize</v-icon>

                    <v-icon>mdi-window-maximize</v-icon>

                    <v-icon>mdi-close</v-icon>
                </v-system-bar>

                <v-app-bar dark color="pink">
                    <v-app-bar-nav-icon></v-app-bar-nav-icon>

                    <v-toolbar-title>My Music</v-toolbar-title>

                    <v-spacer></v-spacer>

                    <v-btn icon>
                        <v-icon>mdi-magnify</v-icon>
                    </v-btn>
                </v-app-bar>

                <v-container>
                    <v-row dense>
                        <v-col cols="12">
                            <v-card color="#385F73" dark>
                                <v-card-title class="text-h5">
                                    Unlimited music now
                                </v-card-title>

                                <v-card-subtitle>Listen to your favorite artists and albums whenever and wherever,
                                    online and offline.</v-card-subtitle>

                                <v-card-actions>
                                    <v-btn text>
                                        Listen Now
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>

                        <v-col v-for="(item, i) in items" :key="i" cols="12">
                            <v-card :color="item.color" dark>
                                <div class="d-flex flex-no-wrap justify-space-between">
                                    <div>
                                        <v-card-title class="text-h5" v-text="item.title"></v-card-title>

                                        <v-card-subtitle v-text="item.artist"></v-card-subtitle>

                                        <v-card-actions>
                                            <v-btn v-if="item.artist === 'Ellie Goulding'" class="ml-2 mt-3" fab icon
                                                height="40px" right width="40px">
                                                <v-icon>mdi-play</v-icon>
                                            </v-btn>

                                            <v-btn v-else class="ml-2 mt-5" outlined rounded small>
                                                START RADIO
                                            </v-btn>
                                        </v-card-actions>
                                    </div>

                                    <v-avatar class="ma-3" size="125" tile>
                                        <v-img :src="item.src"></v-img>
                                    </v-avatar>
                                </div>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card>
        </v-app>
    </div> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
        })
//         new Vue({
//   el: '#opp',
//   vuetify: new Vuetify(),
//   data: () => ({
//     items: [
//       {
//         color: '#1F7087',
//         src: 'https://cdn.vuetifyjs.com/images/cards/foster.jpg',
//         title: 'Supermodel Meirzhan',
//         artist: 'Ilesh Meirzhan',
//       },
//       {
//         color: '#952175',
//         src: 'https://cdn.vuetifyjs.com/images/cards/halcyon.png',
//         title: 'Eminem',
//         artist: 'Venom',
//       },
//     ],
//   }),
// })
    </script>
</body>

</html>